
body {
    background-color: black;
    background-image: url('https://i.imgur.com/KDAu4WB.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;

}

.enter-wrapper {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px;
    grid-template-areas: 
      "a"
      "b"; 
    margin: auto;
    width: 50%;
    padding: 100px 0;
    
}

.welcome {
    grid-area: a;
    color: white;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

.button {
    grid-area: b;
    width: 80%;
    height: 50px;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;

}
 
a {
    text-decoration: none;
    color: white;
    animation: 2s linear infinite blink;
}

@keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
}
  