body {
    background-color: black;
    background-image: url('https://i.imgur.com/nK0vdiB.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;

}

/* CLASS PICK */


.class-picker-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.7fr 1.2fr 1.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "a a a a"
      "b c d e"
      "f f f f";
    width: 800px; 
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.choose {
    grid-area: a;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
}

.paladin-wrapper {
    background-color: rgba(130, 15, 13, 0.75);
    grid-area: b;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;

}

.paladin {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(https://svgshare.com/i/f45.svg);
    height: 100px;
    width: 100px;
}

.archer-wrapper {
    background-color: rgba(15, 70, 30, 0.75);
    grid-area: c;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    
}

.archer {
    background-image: url(https://svgshare.com/i/f2i.svg);
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
}

.rogue-wrapper {
    background-color: rgba(28, 39, 131, 0.75);
    grid-area: d;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.rogue {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(https://svgshare.com/i/f2j.svg);
    height: 100px;
    width: 100px;
}

.wizard-wrapper {
    background-color: rgba(93, 25, 145, 0.75);
    grid-area: e;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.wizard {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(https://svgshare.com/i/f3n.svg);
    height: 100px;
    width: 100px;
    font-size: 20px;
}

.paladin-wrapper:hover ~ .pal-info {
    display: block;
}

.archer-wrapper:hover ~ .arc-info {
    display: block;
}

.rogue-wrapper:hover ~ .rog-info {
    display: block;
}

.wizard-wrapper:hover ~ .wiz-info {
    display: block;
}


.pal-info {
    display: none;
    grid-area: f;
}

.pal-title {
    text-align: left;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.pal-power-info {
    text-align: left;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.arc-info {
    display: none;
    grid-area: f;
}

.arc-title {
    text-align: left;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.arc-power-info {
    text-align: left;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.rog-info {
    display: none;
    grid-area: f;
}

.rog-title {
    text-align: left;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.rog-power-info {
    text-align: left;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.wiz-info {
    display: none;
    grid-area: f;
}

.wiz-title {
    text-align: left;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.wiz-power-info {
    text-align: left;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

/* GAME STAGE */

.combat-log-wrapper {
    display: none;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.3fr 0.4fr 2.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "a b"
      "c c"
      "d d"; 
    width: 200px; 
    height: 400px; 
    position:absolute;
    top: 5%;
    right: 5%;
}


.return-class-pick {
    grid-area: a;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid grey;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'VT323', monospace;
}

.return-dungeon-start {
    grid-area: b;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid grey;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'VT323', monospace;
}

.combat-log-title {
    grid-area: c;
    font-family: 'Press Start 2P', cursive;
}

.combat-log {
    grid-area: d;
    width: 200px;
    text-align: left;
    white-space: pre-wrap;
    font-family: 'VT323', monospace;
}



.question-wrapper {
    display: none; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.4fr 1.7fr 1.6fr 1fr; 
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"; 
    width: 800px; 
    height: 600px;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
}


.category {
    grid-area: a;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 50px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.question {
    grid-area: b;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 70px 50px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.answers {
    grid-area: c;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    flex-direction: row;
    flex-basis: 399px;
    flex-wrap: wrap;
    flex: 1;
    width: 800px;
    height: 200px;
    justify-content: center;
    align-content: center;

}

.ans1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'VT323', monospace;
    width: 400px;
    height: 100px;
    font-size: 35px;
    
}

.ans2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'VT323', monospace;
    width: 400px;
    height: 100px;
    font-size: 35px;
}

.ans3 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'VT323', monospace;
    width: 400px;
    height: 100px;
    font-size: 35px;
}

.ans4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'VT323', monospace;
    width: 400px;
    height: 100px;
    font-size: 35px;
    
}


.dungeon-prog {
    grid-area: d;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    grid-template-columns: 0.3fr 1.2fr 1.5fr; 
    grid-template-rows: 1fr 0.4fr 1.2fr; 
    gap: 0px 0px; 
    width: 800px; 
    height: 200px;
    grid-template-areas: 
      "a a c"
      "b b c"
      "e f d";
    
}

.progress {
    grid-area: a;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-content: center;
}

.prog-bar {
    grid-area: b;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.power-title {
    grid-area: c;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-content: center;
}

.powers {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    grid-area: d;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.HP {
    grid-area: e;
    font-family: 'Press Start 2P', cursive;
    padding: 15px 5px;
    justify-content: center;
    align-content: center;
    text-align: right;
}

#HP-amount {
    grid-area: f;
    padding: 40px 0;
    width: 90%;
    height: 50px;
    justify-content: center;
    align-content: center;
    text-align: left;

}



/* TRAP PHASE */


.trap-container {
    display: none; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "a a a a"
      "b c d e"; 
    width: 800px; 
    height: 300px; 
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 30%;
    left: 0;
    right: 0;
}

.choose-item {
    grid-area: a;
    font-size: 20px;
    height: 10%;
    font-family: 'Press Start 2P', cursive;
}

span.item {
    font-size: 40px;
}

.rock-wrapper {
    background-color: rgba(150, 22, 93, 0.75);
    grid-area: b;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    

}

.rock {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(https://svgshare.com/i/f4c.svg);
    height: 100px;
    width: 100px;
}


.tonic-wrapper {
    background-color: rgba(179, 117, 24, 0.75);
    grid-area: c;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    
}

.tonic {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(https://svgshare.com/i/f29.svg);
    height: 100px;
    width: 100px;
}

.cloak-wrapper {
    background-color: rgba(23, 92, 125, 0.75);
    grid-area: d;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.cloak {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(https://svgshare.com/i/f3o.svg);
    height: 100px;
    width: 100px;
}

.goblet-wrapper {
    background-color: rgba(94, 125, 23, 0.75);
    grid-area: e;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.goblet {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(https://svgshare.com/i/f3w.svg);
    height: 100px;
    width: 100px;
    font-size: 20px;
}
