body {
    background-color: black;
    color: white;
    text-align: center;

}

.question-wrapper {
    display: grid; 
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 0.4fr 1.6fr 1.7fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"; 
    width: 800px; 
    justify-content: center;
    align-content: center;
    margin: auto; 
}

.start {
    grid-area: a;
    background-color: gray;

}

.category {
    grid-area: b;
    background-color: blue;
}

.question {
    grid-area: c;
    background-color: gray;
}

.answers {
    grid-area: d;
    background-color: darkmagenta;
}

.dungeon-prog {
    grid-area: e;
    background-color: darkcyan;
    display: grid; 
    grid-template-columns: 1.2fr 0.8fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 0px; 
    grid-template-areas: 
      "a c"
      "b d"; 
}

.progress {
    grid-area: a;
}

.prog-bar {
    grid-area: b; 
}

.power-title {
    grid-area: c;
}

.powers {
    grid-area: d;
}