body {
    background-color: black;
    background-image: url('https://i.imgur.com/SaAUH43.jpg');
    background-repeat: no-repeat;
    color: white;
    text-align: center;

}

/* CLASS PICK */


.class-picker-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "a a a a"
      "b c d e"; 
    width: 800px; 
    height: 400px; 
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

span.icon {
    font-size: 40px;
}

.choose {
    grid-area: a;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
}

.paladin-wrapper {
    background-color: pink;
    grid-area: b;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;

}

.paladin {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
}


.archer-wrapper {
    background-color: lightgreen;
    grid-area: c;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    
}

.archer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
}

.rogue-wrapper {
    background-color: goldenrod;
    grid-area: d;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.rogue {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
}

.wizard-wrapper {
    background-color: lightseagreen;
    grid-area: e;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.wizard {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
    font-size: 20px;
}

/* GAME STAGE */

.question-wrapper {
    display: none; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.4fr 1.7fr 1.6fr 1fr; 
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"; 
    width: 800px; 
    height: 600px;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
}


.category {
    grid-area: a;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 50px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.question {
    grid-area: b;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 70px 50px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.answers {
    grid-area: c;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      "a b"
      "c d"; 
    width: 800px;
    height: 200px;
    justify-content: center;
    align-content: center;

}

.ans1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    grid-area: a;
    font-family: 'VT323', monospace;
    font-size: 35px;
    
}

.ans2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    grid-area: b;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.ans3 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    grid-area: c;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.ans4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    grid-area: d;
    font-family: 'VT323', monospace;
    font-size: 35px;
    
}


.dungeon-prog {
    grid-area: d;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    grid-template-columns: 0.7fr 0.8fr 1.5fr; 
    grid-template-rows: 1fr 0.4fr 1.2fr; 
    gap: 0px 0px; 
    width: 800px; 
    height: 200px;
    grid-template-areas: 
      "a a c"
      "b b c"
      "e f d";
    
}

.progress {
    grid-area: a;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-content: center;
}

.prog-bar {
    grid-area: b;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.power-title {
    grid-area: c;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-content: center;
}

.powers {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    grid-area: d;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.HP {
    grid-area: e;
    font-family: 'Press Start 2P', cursive;

    justify-content: center;
    align-content: center;
    text-align: right;
}

.HP-amount {
    grid-area: f;
    font-family: 'Press Start 2P', cursive;

    justify-content: center;
    align-content: center;
    text-align: left;

}


/* TRAP PHASE */


.trap-container {
    display: none; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "a b c d"; 
    width: 800px; 
    height: 200px; 
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

span.item {
    font-size: 40px;
}

.rock-wrapper {
    background-color: pink;
    grid-area: a;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    

}

.rock {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
}


.tonic-wrapper {
    background-color: lightgreen;
    grid-area: b;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    
}

.tonic {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
}

.cloak-wrapper {
    background-color: goldenrod;
    grid-area: c;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.cloak {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
}

.goblet-wrapper {
    background-color: lightseagreen;
    grid-area: d;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.goblet {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
    font-size: 20px;
}
