body {
    background-color: black;
    color: white;
    text-align: center;

}

/* CLASS PICK */


.class-picker-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "a b c d"; 
    width: 800px; 
    height: 200px; 
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

span.icon {
    font-size: 40px;
}

.paladin-wrapper {
    background-color: pink;
    grid-area: a;
    justify-content: center;
    align-items: center;

}

.paladin {
    background-color: grey;
    height: 100px;
    width: 100px;
}


.archer-wrapper {
    background-color: lightgreen;
    grid-area: b;
    justify-content: center;
    align-items: center;
    
}

.archer {
    background-color: grey;
    height: 100px;
    width: 100px;
}

.rogue-wrapper {
    background-color: goldenrod;
    grid-area: c;
    justify-content: center;
    align-items: center;
}

.rogue {
    background-color: grey;
    height: 100px;
    width: 100px;
}

.wizard-wrapper {
    background-color: lightseagreen;
    grid-area: d;
    justify-content: center;
    align-items: center;
}

.wizard {
    background-color: grey;
    height: 100px;
    width: 100px;
    font-size: 20px;
}

/* GAME STAGE */

.question-wrapper {
    display: none; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.4fr 0.3fr 1.7fr 1.6fr 1fr; 
    gap: 0px 5px; 
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"; 
    width: 800px; 
    justify-content: center;
    align-content: center;
    margin: auto; 
}

.new-encounter {
    grid-area: a;
    background-color: gray;

}

.category {
    grid-area: b;
    background-color: blue;
}

.question {
    grid-area: c;
    font-size: 25px;
    background-color: gray;
}

.answers {
    grid-area: d;
    background-color: darkmagenta;
    display: none; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      "a b"
      "c d"; 
    width: 800px;
    justify-content: center;
    align-content: center;
}

.ans1 {
    grid-area: a;
}

.ans2 {
    grid-area: b;
}

.ans3 {
    grid-area: c;
}

.ans4 {
    grid-area: d;
    
}


.dungeon-prog {
    grid-area: e;
    background-color: darkcyan;
    display: none; 
    grid-template-columns: 0.7fr 0.8fr 1.5fr; 
    grid-template-rows: 1fr 0.4fr 1.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "a a c"
      "b b c"
      "e f d";
    
}

.progress {
    grid-area: a;
}

.prog-bar {
    grid-area: b; 
}

.power-title {
    grid-area: c;
}

.powers {
    grid-area: d;
}

.HP {
    grid-area: e;
    background-color: darkgreen;
   
}

.HP-amount {
    grid-area: f;
    background-color: darkgreen;
}


/* TRAP PHASE */


.trap-container {
    display: none; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "a b c d"; 
    width: 800px; 
    height: 200px; 
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

span.item {
    font-size: 40px;
}

.rock-wrapper {
    background-color: pink;
    grid-area: a;
    justify-content: center;
    align-items: center;

}

.rock {
    background-color: grey;
    height: 100px;
    width: 100px;
}


.tonic-wrapper {
    background-color: lightgreen;
    grid-area: b;
    justify-content: center;
    align-items: center;
    
}

.tonic {
    background-color: grey;
    height: 100px;
    width: 100px;
}

.cloak-wrapper {
    background-color: goldenrod;
    grid-area: c;
    justify-content: center;
    align-items: center;
}

.cloak {
    background-color: grey;
    height: 100px;
    width: 100px;
}

.goblet-wrapper {
    background-color: lightseagreen;
    grid-area: d;
    justify-content: center;
    align-items: center;
}

.goblet {
    background-color: grey;
    height: 100px;
    width: 100px;
    font-size: 20px;
}
